@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  height: auto;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #333333;
  font-family: "logo-cut-std", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #DFF3E3;
}

* img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

a {
  color: #333333;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo-style {
  font-size: 14.5rem;
  font-weight: bold;
}
.logo-style span {
  color: #22978C;
}
@media (max-width: 768px) {
  .logo-style {
    font-size: 9rem;
  }
}
@media (max-width: 440px) {
  .logo-style {
    font-size: 8rem;
  }
}

.runner {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
  z-index: 1;
  background: transparent;
}
@media (max-width: 440px) {
  .runner {
    height: 125px;
  }
}

.runner-group {
  display: flex;
  position: absolute;
  top: 0;
  /* 最初は画面の右外からスタート */
  transform: translateX(100vw);
  -webkit-animation: runRightToLeft 6s linear infinite;
          animation: runRightToLeft 6s linear infinite;
  will-change: transform;
}
@media (max-width: 768px) {
  .runner-group {
    -webkit-animation: runRightToLeftSp 5s linear infinite;
            animation: runRightToLeftSp 5s linear infinite;
  }
}
@media (max-width: 440px) {
  .runner-group {
    transform: translateX(140vw);
  }
}

.runner img {
  width: 120px;
  margin-right: 50px;
}
@media (max-width: 440px) {
  .runner img {
    width: 100px;
  }
}

@-webkit-keyframes runRightToLeft {
  0% {
    transform: translateX(100vw);
    /* ← 画面の右外からスタート */
  }
  100% {
    transform: translateX(-100%);
    /* ← 左へ流れて終了 */
  }
}

@keyframes runRightToLeft {
  0% {
    transform: translateX(100vw);
    /* ← 画面の右外からスタート */
  }
  100% {
    transform: translateX(-100%);
    /* ← 左へ流れて終了 */
  }
}
@-webkit-keyframes runRightToLeftSp {
  0% {
    transform: translateX(140vw);
  }
  100% {
    transform: translateX(-140%);
  }
}
@keyframes runRightToLeftSp {
  0% {
    transform: translateX(140vw);
  }
  100% {
    transform: translateX(-140%);
  }
}
.runner.runner-left .runner-group {
  transform: translateX(-100%);
  -webkit-animation: runLeftToRight 6s linear infinite;
          animation: runLeftToRight 6s linear infinite;
}
@media (max-width: 768px) {
  .runner.runner-left .runner-group {
    -webkit-animation: runLeftToRightSp 5s linear infinite;
            animation: runLeftToRightSp 5s linear infinite;
  }
}
@media (max-width: 440px) {
  .runner.runner-left .runner-group {
    transform: translateX(-140%);
  }
}

@-webkit-keyframes runLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes runLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}
@-webkit-keyframes runLeftToRightSp {
  0% {
    transform: translateX(-140%);
  }
  100% {
    transform: translateX(140vw);
  }
}
@keyframes runLeftToRightSp {
  0% {
    transform: translateX(-140%);
  }
  100% {
    transform: translateX(140vw);
  }
}
.runner-right {
  margin-top: 50px;
}

.tab-br {
  display: none;
}
@media (max-width: 768px) {
  .tab-br {
    display: block;
  }
}
@media (max-width: 440px) {
  .tab-br {
    display: none;
  }
}

#loading-item {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  transform-origin: center center;
  perspective: 1200px;
  background: linear-gradient(270deg, #f0f8f0, #d0e8d0, #f0f8f0);
  background-size: 600% 600%;
  -webkit-animation: bgGradientShift 10s ease infinite;
          animation: bgGradientShift 10s ease infinite;
}

@-webkit-keyframes bgGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loading__item {
  position: absolute;
  will-change: transform, opacity;
}

.loading__item img {
  display: block;
  width: 40px;
  height: 40px;
}

.loading__item--large img {
  width: 80px;
  height: 80px;
}

.meta-logo {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  z-index: 20;
  width: 200px;
  pointer-events: none;
}

.meta-logo.visible {
  opacity: 1;
}

/* ==== ロゴを吸い込むアニメーション ==== */
@-webkit-keyframes logoZoomOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
@keyframes logoZoomOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes loadingDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loadingDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* アニメ用クラス */
.meta-logo.zoomout {
  -webkit-animation: logoZoomOut 1s ease-in-out forwards;
          animation: logoZoomOut 1s ease-in-out forwards;
}

.loading.disappear {
  -webkit-animation: loadingDisappear 1s ease-in-out forwards;
          animation: loadingDisappear 1s ease-in-out forwards;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
header .header-inner .logo {
  width: 15%;
}
@media (max-width: 768px) {
  header .header-inner .logo {
    width: 25%;
  }
}
header .header-inner .logo img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-inner .hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 5%;
  margin-top: 10px;
}
@media (max-width: 768px) {
  header .header-inner .hamburger {
    width: 7%;
  }
}
@media (max-width: 440px) {
  header .header-inner .hamburger {
    width: 8%;
  }
}
header .header-inner .hamburger img {
  width: 78%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-inner .hamburger .menu-label {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: -3px;
}
@media (max-width: 768px) {
  header .header-inner .hamburger .menu-label {
    font-size: 1.3rem;
  }
}
@media (max-width: 440px) {
  header .header-inner .hamburger .menu-label {
    font-size: 1rem;
  }
}
@media (max-width: 394px) {
  header .header-inner .hamburger .menu-label {
    font-size: 0.8rem;
  }
}
header nav {
  position: absolute;
  display: none;
  width: 15%;
  right: 30px;
  padding: 30px 0;
  border-radius: 50px;
  overflow: hidden;
}
@media (max-width: 768px) {
  header nav {
    width: 28%;
  }
}
@media (max-width: 440px) {
  header nav {
    width: 40%;
  }
}
@media (max-width: 394px) {
  header nav {
    padding: 20px 0;
    width: 50%;
  }
}
header nav .nav-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
header nav ul {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li {
  margin-bottom: 8px;
  padding-top: 30px;
}
header nav ul li:first-of-type {
  padding-top: 0;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-block;
  transition: transform 0.3s ease;
}
@media (max-width: 440px) {
  header nav ul li a {
    font-size: 1.4rem;
  }
}
@media (max-width: 394px) {
  header nav ul li a {
    font-size: 1.2rem;
  }
}
@media (max-width: 361px) {
  header nav ul li a {
    font-size: 1.1rem;
  }
}
header nav ul li a:hover {
  transform: translateY(-5px);
}

.loading {
  overflow: hidden;
}

body.no-scroll {
  height: 100vh;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 130vh;
  background: #DFF3E3;
}
.main-visual .main-visual-video {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  background: transparent;
  -webkit-clip-path: inset(0% round 30px);
          clip-path: inset(0% round 30px);
  transition: transform 0.3s ease, -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease, transform 0.3s ease;
  transition: clip-path 0.3s ease, transform 0.3s ease, -webkit-clip-path 0.3s ease;
  transform-origin: center;
  z-index: 0;
}

.center-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  transition: 0.6s ease;
  transform: 0.6s ease;
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
}

.center-logo.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(2);
  z-index: 100;
}

.sec-tit {
  width: 100%;
  text-align: center;
  margin: 0 auto 50px;
  opacity: 0;
}

.avatar-area {
  display: flex;
  justify-content: center;
  margin: 100px 0 60px;
  padding: 0 20px;
  width: 100%;
}
.avatar-area img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 440px) {
  .avatar-area img {
    width: 80px;
  }
}
@media (max-width: 376px) {
  .avatar-area img {
    width: 70px;
  }
}

.about-text {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 0;
  border: 6px solid #91C8C3;
}
@media (max-width: 768px) {
  .about-text {
    padding: 40px 0;
  }
}
@media (max-width: 440px) {
  .about-text {
    padding: 25px;
    text-align: left;
    border: 4px solid #91C8C3;
  }
}
@media (max-width: 394px) {
  .about-text {
    padding: 20px;
  }
}
.about-text h3 {
  margin-bottom: 15px;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .about-text h3 {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 440px) {
  .about-text h3 {
    font-size: 1.9rem;
  }
}
@media (max-width: 394px) {
  .about-text h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 376px) {
  .about-text h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}
@media (max-width: 440px) {
  .about-text ul {
    padding-left: 0;
  }
}
.about-text p,
.about-text li {
  list-style: inside;
  list-style-type: disc;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .about-text p,
.about-text li {
    font-size: 1.7rem;
  }
}
@media (max-width: 440px) {
  .about-text p,
.about-text li {
    font-size: 1.1rem;
  }
}
@media (max-width: 394px) {
  .about-text p,
.about-text li {
    font-size: 1rem;
  }
}
@media (max-width: 376px) {
  .about-text p,
.about-text li {
    font-size: 0.9rem;
  }
}
.about-text .about-text-box:last-of-type h3:last-of-type {
  margin-top: 30px;
}
@media (max-width: 440px) {
  .about-text .about-text-box:last-of-type h3:last-of-type {
    margin-top: 20px;
  }
}

/* =======================
   セクション全体
======================= */
.floor-section {
  padding: 2.2rem 0 6em;
  text-align: center;
  padding-bottom: 15vh;
  /* タイトル */
}
.floor-section h2 {
  padding-bottom: 40px;
  font-size: 3rem;
}

/* =======================
   カードリスト
======================= */
.card-list {
  display: flex;
  justify-content: center;
  height: 75vh;
  /* 他のカードは縮んで消える */
}
@media (max-width: 768px) {
  .card-list {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.card-list.has-expand {
  height: 100vh;
}
.card-list.has-expand .card:not(.expand) {
  display: none;
  pointer-events: none;
}

/* =======================
   カード
======================= */
.card {
  border-radius: 25px;
  width: 100%;
  height: auto;
  padding: 30px;
  overflow: hidden;
  text-align: center;
  transition: all 0.6s ease;
  /* カードタイトル */
  /* カード内の画像 */
  /* ボタン */
  /* ホバー時のバウンスアニメーション */
  /* 拡大状態 */
}
.card:nth-of-type(1) {
  background-color: #91D2AF;
}
.card:nth-of-type(2) {
  background-color: #C0E5D1;
}
.card:nth-of-type(3) {
  background-color: #B3D3C4;
}
.card .card-title {
  margin: 15px 0 5rem;
  font-size: 2rem;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 440px) {
  .card .card-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 394px) {
  .card .card-title {
    font-size: 1.2rem;
  }
}
.card img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  display: block;
}
.card .expand-btn,
.card .close-btn {
  margin-top: 8rem;
  background-color: #f0f8ff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: none;
}
@media (max-width: 768px) {
  .card .expand-btn,
.card .close-btn {
    margin-top: 3rem;
  }
}
.card .close-btn {
  display: none;
}
.card:hover button {
  -webkit-animation: bounce 0.6s forwards;
          animation: bounce 0.6s forwards;
}
.card.expand {
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card.expand .expand-btn {
  display: none;
}
.card.expand .close-btn {
  display: block;
  margin-inline: auto;
}
.card.expand img {
  height: 70%;
}

/* =======================
   バウンスアニメーション
======================= */
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/* =======================
   フェードイン済みカード
======================= */
.visited {
  opacity: 1;
  transform: translateY(0);
  transition: none;
}

.room {
  padding-bottom: 410px;
}
@media (max-width: 768px) {
  .room {
    padding-bottom: 845px;
  }
}
@media (max-width: 440px) {
  .room {
    padding-bottom: 380px;
  }
}
@media (max-width: 394px) {
  .room {
    padding-bottom: 260px;
  }
}
@media (max-width: 376px) {
  .room {
    padding-bottom: 200px;
  }
}
@media (max-width: 361px) {
  .room {
    padding-bottom: 95px;
  }
}
.room h2 {
  text-align: center;
  font-size: 3rem;
}
@media (max-width: 394px) {
  .room h2 {
    font-size: 2.5rem;
  }
}

.room__card-list {
  position: relative;
  width: 100%;
  height: 700px;
}

.room__card {
  position: absolute;
  width: 24%;
  height: 51%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px solid transparent;
}
@media (max-width: 768px) {
  .room__card {
    width: 45%;
    height: 49%;
  }
}
@media (max-width: 440px) {
  .room__card {
    width: 50%;
    height: 31%;
  }
}
@media (max-width: 394px) {
  .room__card {
    height: 28%;
  }
}
@media (max-width: 376px) {
  .room__card {
    height: 27%;
  }
}
@media (max-width: 361px) {
  .room__card {
    height: 26%;
  }
}
.room__card .string-svg {
  position: absolute;
  bottom: -15vh;
  left: 50%;
  transform: translateX(-50%);
  height: 15vh;
  width: 2vw;
  max-width: 20px;
  -webkit-animation: wave-string 8s ease-in-out infinite;
          animation: wave-string 8s ease-in-out infinite;
  pointer-events: none;
}
@media (max-width: 768px) {
  .room__card .string-svg {
    width: 3vw;
  }
}
.room__card h3 {
  z-index: 2;
}

@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
@-webkit-keyframes wave-string {
  0%, 100% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(-3deg);
  }
  50% {
    transform: translateX(-50%) rotate(3deg);
  }
  75% {
    transform: translateX(-50%) rotate(-3deg);
  }
}
@keyframes wave-string {
  0%, 100% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(-3deg);
  }
  50% {
    transform: translateX(-50%) rotate(3deg);
  }
  75% {
    transform: translateX(-50%) rotate(-3deg);
  }
}
.room__card img {
  width: 79%;
  height: 46%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .room__card img {
    width: 77%;
    height: 45%;
  }
}
@media (max-width: 440px) {
  .room__card img {
    width: 75%;
    height: 43%;
  }
}
@media (max-width: 394px) {
  .room__card img {
    height: 45%;
  }
}

.room__card:nth-child(1) {
  top: 8vh;
  left: 5vw;
  border-color: #F7DAD9;
}
@media (max-width: 768px) {
  .room__card:nth-child(1) {
    left: 3vw;
  }
}

.room__card:nth-child(2) {
  top: 20vh;
  left: 37vw;
  border-color: #F9E4B7;
}
@media (max-width: 768px) {
  .room__card:nth-child(2) {
    top: 19vh;
    left: 51vw;
  }
}
@media (max-width: 440px) {
  .room__card:nth-child(2) {
    top: 23vh;
    left: 47vw;
  }
}

.room__card:nth-child(3) {
  top: 8vh;
  right: 5vw;
  border-color: #E3F6F5;
}
@media (max-width: 768px) {
  .room__card:nth-child(3) {
    top: 56vh;
    right: 52vw;
  }
}
@media (max-width: 440px) {
  .room__card:nth-child(3) {
    top: 42vh;
    right: 46vw;
  }
}
@media (max-width: 394px) {
  .room__card:nth-child(3) {
    top: 43vh;
  }
}

.room__card:nth-child(4) {
  top: 77vh;
  left: 15vw;
  border-color: #E8F0D9;
}
@media (max-width: 768px) {
  .room__card:nth-child(4) {
    top: 69vh;
    left: 51vw;
  }
}
@media (max-width: 440px) {
  .room__card:nth-child(4) {
    top: 62vh;
    left: 46vw;
  }
}

.room__card:nth-child(5) {
  top: 77vh;
  right: 15vw;
  border-color: #EDE6F2;
}
@media (max-width: 768px) {
  .room__card:nth-child(5) {
    top: 102vh;
    right: 40vw;
  }
}
@media (max-width: 440px) {
  .room__card:nth-child(5) {
    top: 80vh;
    right: 46vw;
  }
}

.room__card {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.room__card.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.voices {
  padding: 40px 0;
  text-align: center;
}
.voices h2 {
  display: inline-block;
  background: #fff;
  padding: 15px 70px;
  border-radius: 40px;
  font-size: 3rem;
  letter-spacing: 0.5em;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;
  -webkit-animation: pulsePop 2.5s ease-in-out infinite;
          animation: pulsePop 2.5s ease-in-out infinite;
  transform-origin: center;
}
@media (max-width: 440px) {
  .voices h2 {
    font-size: 2.5rem;
  }
}
.voices h2::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top-color: #fff;
}
@-webkit-keyframes pulsePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.voices .slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 360px;
}
.voices .voice-slider {
  position: relative;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.voices .voice-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 300px;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #eaf9f8 0%, #c6e9e7 40%, #aacfcf 75%, #c6e9e7 90%, #eaf9f8 100%);
  border-radius: 30px;
  padding: 20px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  transition: transform 0.4s ease, filter 0.4s ease;
}
.voices .voice-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 16%) 0 0, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 16%) 10px 10px;
  background-size: 20px 20px;
  pointer-events: none;
  z-index: 0;
  border-radius: 30px;
}
.voices .voice-card p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
  flex-grow: 1;
}
.voices .voice-card img {
  display: block;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  transition: transform 0.3s ease;
}
.voices .voice-card.is-center:hover img {
  transform: scale(1.3);
}
.voices .nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.voices .nav-buttons button {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  padding: 8px 24px;
  background: #7ab0ae;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.voices .nav-buttons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
}
.voices .nav-buttons button:hover {
  background: #92c9c7;
  transform: translateY(-2px) scale(1.05);
}
.voices .nav-buttons button:hover::before {
  -webkit-animation: shine 0.8s ease forwards;
          animation: shine 0.8s ease forwards;
}
@-webkit-keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

#sign-up {
  padding-top: 40px;
}
#sign-up h2 {
  width: 60vw;
  margin: 0 auto 15px;
  text-align: center;
  font-size: 7rem;
}
@media (max-width: 768px) {
  #sign-up h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 440px) {
  #sign-up h2 {
    font-size: 3rem;
  }
}
@media (max-width: 376px) {
  #sign-up h2 {
    font-size: 2.5rem;
  }
}
#sign-up .cont-box {
  position: relative;
  background-color: #fff;
  padding: 4% 4% 4% 20%;
  border-radius: 20px;
  border-top: dotted 1px #333;
}
@media (max-width: 440px) {
  #sign-up .cont-box p {
    font-size: 1.5rem;
  }
}
@media (max-width: 376px) {
  #sign-up .cont-box p {
    font-size: 1.2rem;
  }
}
@media (max-width: 376px) {
  #sign-up .cont-box a {
    font-size: 1.2rem;
  }
}
#sign-up .cont-box:first-of-type {
  border-top: none;
}
#sign-up .cont-box::after {
  display: block;
  content: "+";
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 3rem;
  position: absolute;
  top: 10%;
  right: 4%;
  color: #333;
  z-index: 100;
  transition: all 0.5s;
}
#sign-up .cont-box .accordion-inner {
  display: none;
  gap: 20px;
}
@media (max-width: 376px) {
  #sign-up .cont-box h3 {
    font-size: 1.5rem;
  }
}
#sign-up .cont-box a {
  display: block;
  width: 50%;
  background-color: #91C8C3;
  padding: 20px 30px;
  border-radius: 30px;
  margin: 20px auto 0;
  text-align: center;
  font-weight: bold;
}
#sign-up .cont-box a:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #sign-up .cont-box a {
    width: 85%;
  }
}
@media (max-width: 440px) {
  #sign-up .cont-box a {
    width: 100%;
  }
}
#sign-up .open::after {
  transform: rotate(45deg);
}
#sign-up .number {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 10rem;
}
@media (max-width: 768px) {
  #sign-up .number {
    font-size: 6rem;
  }
}
@media (max-width: 440px) {
  #sign-up .number {
    font-size: 4.5rem;
  }
}
@media (max-width: 394px) {
  #sign-up .number {
    font-size: 3.5rem;
  }
}

footer .avatar-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
}
footer .avatar-area .avatar-rotate {
  width: 120px;
  height: 120px;
  position: relative;
}
@media (max-width: 440px) {
  footer .avatar-area .avatar-rotate {
    width: 85px;
    height: 100px;
  }
}
@media (max-width: 394px) {
  footer .avatar-area .avatar-rotate {
    width: 70px;
    height: 60px;
  }
}
footer .avatar-area .avatar-rotate img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
}

footer .instagram {
  text-align: center;
  padding-bottom: 60px;
}
footer .instagram p {
  font-weight: bold;
  color: #57c4ad;
}
footer .instagram .instagram_item {
  display: flex;
  justify-content: center;
  gap: 40px;
}
footer .instagram .instagram_item a {
  background: #fff;
  border-radius: 50%;
  margin-top: 10px;
}
footer .instagram .instagram_item a img {
  width: 60px;
  padding: 15px;
}

.avatar-scroll-rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 800px 0;
}
.avatar-scroll-rotate .avatar {
  position: relative;
  width: 25vw;
}
.avatar-scroll-rotate .avatar img {
  display: none;
  width: 100%;
}
.avatar-scroll-rotate .avatar img.active {
  display: block;
}
@media (max-width: 768px) {
  .avatar-scroll-rotate .avatar img {
    margin-bottom: 5vh;
  }
}
/*# sourceMappingURL=style.css.map */