@charset "UTF-8";

@use '../base/mixins' as mix;

.sec-tit {
    width: fit-content;
    margin: 0 auto 50px;
    opacity: 0;

}

.avatar-area {
    display: flex;
    margin: 100px 0 60px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    .about-text-box {
        margin-bottom: 50px;
        font-size: 3rem;

    }

    h3 {
        margin-bottom: 15px;
    }

    li {
        list-style: inside;
        list-style-type: disc;
    }
}