@charset "UTF-8";

@use '../base/mixins' as mix;

/* =======================
   セクション全体
======================= */
.floor-section {
  padding: 2.2rem 0 6em;
  text-align: center;

  @include mix.tab {
    padding-bottom: 760px;
  }

  @include mix.sp {
    padding-bottom: 580px;
  }

  @include mix.fix-394 {
    padding-bottom: 530px;
  }

  /* タイトル */
  h2 {
    padding-bottom: 40px;
    font-size: 3rem;
  }
}

/* =======================
   カードリスト
======================= */
.card-list {
  display: flex;
  justify-content: center;
  height: 75vh;

  @include mix.tab {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  /* 他のカードは縮んで消える */
  &.has-expand {
    .card:not(.expand) {
      display: none;
      pointer-events: none;
    }
  }
}

/* =======================
   カード
======================= */
.card {
  border-radius: 25px;
  width: 100%;
  padding: 30px;
  overflow: hidden; // 横にはみ出さないように
  transition: max-width 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
  text-align: center;

  &:nth-of-type(1) {
    background-color: #91D2AF;
  }

  &:nth-of-type(2) {
    background-color: #C0E5D1;
  }

  &:nth-of-type(3) {
    background-color: #B3D3C4;
  }

  /* カードタイトル */
  .card-title {
    margin: 15px 0 5rem;
    font-size: 2rem;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    @include mix.sp {
      font-size: 1.5rem;
    }

    @include mix.fix-394 {
      font-size: 1.2rem;
    }
  }

  /* カード内の画像 */
  img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
  }

  /* ボタン */
  .expand-btn,
  .close-btn {
    margin-top: 8rem;
    background-color: #f0f8ff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: none;

    @include mix.tab {
      margin-top: 3rem;
    }
  }

  .close-btn {
    display: none;
  }

  /* ホバー時のバウンスアニメーション */
  &:hover button {
    animation: bounce 0.6s forwards;
  }

  /* 拡大状態 */
  &.expand {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    position: sticky;

    .expand-btn {
      display: none;
    }

    .close-btn {
      display: block;
      margin-inline: auto;
    }

    img{
      height: 70%;
    }
  }
}

/* =======================
   バウンスアニメーション
======================= */
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/* =======================
   フェードイン済みカード
======================= */
.visited {
  opacity: 1;
  transform: translateY(0);
  transition: none;
}