@charset "UTF-8";

@use '../base/mixins' as mix;

footer .avatar-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;

    .avatar-rotate {
        width: 120px;
        height: 120px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            display: none;
        }
    }
}

footer .instagram {
    text-align: center;
    padding-bottom: 60px;

    p {
        font-weight: bold;
        color: #57c4ad;
    }

    .instagram_item {
        display: flex;
        justify-content: center;
        gap: 40px;

        a {
            background: #fff;
            border-radius: 50%;
            margin-top: 10px;

            img {
                width: 60px;
                padding: 15px;
            }
        }
    }
}