@charset "UTF-8";

@use '../base/mixins' as mix;

footer .avatar-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* アバター同士の間隔 */
    flex-wrap: wrap;
    /* 画面が狭いとき折り返す */
    padding: 20px 0;

    .avatar-rotate {
        width: 120px;
        height: 120px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            display: none;
        }
    }
}