@charset "UTF-8";

@use '../base/mixins' as mix;

header {
    // position: absolute; // または fixed（スクロールに追従させるなら fixed）
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        .logo {
            img {
                height: 50px;
                display: block;

                @include mix.sp {
                    height: 40px;
                    margin-top: 10px;
                }

            }
        }

        .hamburger {
            cursor: pointer;
            user-select: none;
            width: 100px;
            position: relative;

            @include mix.sp {
                width: 65px;
                padding-top: 10px;
            }

            &::after {
                content: "menu";
                display: block;
                position: absolute;
                font-weight: bold;
                top: 70px;
                left: 30px;

                @include mix.sp {
                    top: 55px;
                    left: 16px;
                    font-size: 1.3rem;
                }
            }

            img {
                display: block;
                width: 100%;
            }
        }
    }

    nav {
        position: absolute;
        display: none;
        width: 15%;
        right: 30px;
        padding: 30px 0;
        border-radius: 50px;
        overflow: hidden; // 中の動画がはみ出さないように

        @include mix.tab {
            width: 28%;
        }

        @include mix.sp {
            width: 40%;
        }

        @include mix.fix-394 {
            padding: 20px 0;
            width: 50%;
        }

        .nav-bg-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        ul {
            position: relative; // z-indexを効かせるため
            z-index: 1;
            list-style: none;
            margin: 0;
            padding: 10px 20px;
            font-weight: bold;

            li {
                margin-bottom: 8px;
                padding-top: 30px;

                &:first-of-type {
                    padding-top: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.6rem;
                    display: inline-block; // translateYが効くように
                    transition: transform 0.3s ease;

                    @include mix.sp {
                        font-size: 1.4rem;
                    }

                    @include mix.fix-394 {
                        font-size: 1.2rem;
                    }

                    @include mix.fix-361 {
                        font-size: 1.1rem;
                    }

                    &:hover {
                        transform: translateY(-5px); // 5px上に上がる
                    }
                }
            }
        }
    }
}