@charset "UTF-8";

@use '../base/mixins' as mix;

.room {

    padding-bottom: 410px;

    @include mix.tab {
        padding-bottom: 845px;
    }

    @include mix.sp {
        padding-bottom: 380px;
    }

    @include mix.fix-394 {
        padding-bottom: 260px;
    }

    @include mix.fix-376 {
        padding-bottom: 200px;
    }

    @include mix.fix-361 {
        padding-bottom: 95px;
    }

    h2 {
        text-align: center;
        font-size: 3rem;

        @include mix.fix-394 {
            font-size: 2.5rem;
        }
    }
}

.room__card-list {
    position: relative;
    width: 100%;
    height: 700px;
}

.room__card {
    position: absolute;
    width: 24%;
    height: 51%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: float 4s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid transparent;

    @include mix.tab {
        width: 45%;
        height: 49%;
    }

    @include mix.sp {
        width: 50%;
        height: 31%;
    }

    @include mix.fix-394 {
        height: 28%;
    }

    @include mix.fix-376 {
        height: 27%;
    }

    @include mix.fix-361 {
        height: 26%;
    }

    // SVG紐のスタイル
    .string-svg {
        position: absolute;
        bottom: -15vh;
        left: 50%;
        transform: translateX(-50%);
        height: 15vh;
        width: 2vw;
        max-width: 20px;
        animation: wave-string 8s ease-in-out infinite;
        pointer-events: none;

        @include mix.tab {
            width: 3vw;
        }
    }

    h3 {
        z-index: 2;
    }
}

// 風船の上下ふわふわアニメーション
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

// 紐のくねくね揺れを風船動きに合わせて反転させ自然に
@keyframes wave-string {

    0%,
    100% {
        transform: translateX(-50%) rotate(0deg);
    }

    25% {
        transform: translateX(-50%) rotate(-3deg);
    }

    50% {
        transform: translateX(-50%) rotate(3deg);
    }

    75% {
        transform: translateX(-50%) rotate(-3deg);
    }
}

.room__card img {
    width: 79%;
    height: 46%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;

    @include mix.tab {
        width: 77%;
        height: 45%;
    }

    @include mix.sp {
        width: 75%;
        height: 43%;
    }

    @include mix.fix-394 {
        height: 45%;
    }
}

// 各風船の配置位置
.room__card:nth-child(1) {
    top: 8vh;
    left: 5vw;
    border-color: #F7DAD9;

    @include mix.tab {
        left: 3vw;
    }
}

.room__card:nth-child(2) {
    top: 20vh;
    left: 37vw;
    border-color: #F9E4B7;

    @include mix.tab {
        top: 19vh;
        left: 51vw;
    }

    @include mix.sp {
        top: 23vh;
        left: 47vw;
    }
}

.room__card:nth-child(3) {
    top: 8vh;
    right: 5vw;
    border-color: #E3F6F5;

    @include mix.tab {
        top: 56vh;
        right: 52vw;
    }

    @include mix.sp {
        top: 42vh;
        right: 46vw;
    }

    @include mix.fix-394 {
        top: 43vh;
    }
}

.room__card:nth-child(4) {
    top: 77vh;
    left: 15vw;
    border-color: #E8F0D9;

    @include mix.tab {
        top: 69vh;
        left: 51vw;
    }

    @include mix.sp {
        top: 62vh;
        left: 46vw;
    }
}

.room__card:nth-child(5) {
    top: 77vh;
    right: 15vw;
    border-color: #EDE6F2;

    @include mix.tab {
        top: 102vh;
        right: 40vw;
    }

    @include mix.sp {
        top: 80vh;
        right: 46vw;
    }
}

.room__card {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.room__card.is-visible {
    opacity: 1;
    transform: translateY(0);
}