@charset "UTF-8";

@use '../base/mixins' as mix;

.avatar-scroll-rotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 800px 0;

    .avatar {
        position: relative;
        width: 25vw;


        img {
            display: none;
            width: 100%;

            &.active {
                display: block;
            }
        }

    }
}