@charset "UTF-8";

@use '../base/mixins' as mix;


#sign-up {
    padding-top: 40px;

    .sec-title {
        width: 60vw;
        margin: 0 auto 15px;
        text-align: center;
        font-size: 9rem;

        @include mix.tab {
            font-size: 5rem;
        }

        @include mix.sp {
            font-size: 3rem;
        }

        @include mix.fix-376 {
            font-size: 2.5rem;
        }
    }

    .cont-box {
        position: relative;
        background-color: #fff;
        padding: 40px 200px;
        border-radius: 20px;
        border-top: dotted 1px #333;

        @include mix.tab {
            padding: 40px 170px;
        }


        @include mix.sp {
            padding: 25px 60px 25px 100px;
        }

        @include mix.fix-394 {
            padding: 25px 65px 25px 90px;
        }

        p {
            @include mix.sp {
                font-size: 1.5rem;
            }

            @include mix.fix-376 {
                font-size: 1.2rem;
            }
        }

        a {
            @include mix.fix-376 {
                font-size: 1.2rem;
            }
        }

        &:first-of-type {
            border-top: none;
        }

        &::after {
            display: block;
            content: "+";
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 3rem;
            position: absolute;
            top: 40px;
            right: 200px;
            color: #333;
            z-index: 100;
            transition: all 0.5s;

            @include mix.tab {
                right: 80px;
            }

            @include mix.sp {
                top: 25px;
                right: 20px;
            }
        }

        .accordion-inner {
            display: none;
        }

        h3 {
            @include mix.fix-376 {
                font-size: 1.5rem;
            }
        }
    }

    .open {
        &::after {
            transform: rotate(45deg);

        }
    }

    .number {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        font-size: 10rem;

        @include mix.tab {
            font-size: 6rem;
        }

        @include mix.sp {
            font-size: 4.5rem;
            left: 30px;
        }

        @include mix.fix-394 {
            font-size: 3.5rem;
        }
    }
}