@charset "UTF-8";

@use '../base/mixins' as mix;

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    height: auto;
    min-height: 100vh;
    font-size: 1.6rem;
    color: #333333;
    font-family: "logo-cut-std", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #DFF3E3;
}

*img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

// 共通項目
a {
    color: #333333;
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo-style {
    font-size: 15rem;
    font-weight: bold;

    span {
        color: #22978C;
    }
}

.runner {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    z-index: 1;
    background: transparent;

    @include mix.sp {
        height: 125px;
    }
}

.runner-group {
    display: flex;
    position: absolute;
    top: 0;
    /* 最初は画面の右外からスタート */
    transform: translateX(100vw);
    animation: runRightToLeft 6s linear infinite;
    will-change: transform;

    @include mix.tab {
        animation: runRightToLeftSp 5s linear infinite;
    }

    @include mix.sp {
        transform: translateX(140vw); // ← もっと外から開始
    }
}

.runner img {
    width: 120px;
    margin-right: 50px;

    @include mix.sp {
        width: 100px;
    }
}

@keyframes runRightToLeft {
    0% {
        transform: translateX(100vw);
        /* ← 画面の右外からスタート */
    }

    100% {
        transform: translateX(-100%);
        /* ← 左へ流れて終了 */
    }
}

@keyframes runRightToLeftSp {
    0% {
        transform: translateX(140vw);
    }

    100% {
        transform: translateX(-140%);
    }
}

.runner.runner-left .runner-group {
    transform: translateX(-100%);
    animation: runLeftToRight 6s linear infinite;

    @include mix.tab {
        animation: runLeftToRightSp 5s linear infinite;
    }

    @include mix.sp {
        transform: translateX(-140%);
    }
}

@keyframes runLeftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes runLeftToRightSp {
    0% {
        transform: translateX(-140%);
    }

    100% {
        transform: translateX(140vw);
    }
}

.runner-right {
    margin-top: 50px;
}

.tab-br {
    display: none;

    @include mix.tab {
        display: block;
    }

    @include mix.sp {
        display: none;
    }
}