@charset "UTF-8";

@mixin pc {
    @media (min-width: (1280px)) {
        @content;
    }
}
@mixin tab {
    @media (min-width: (768px)) {
        @content;
    }
}
@mixin sp {
    @media (min-width: (390px)) {
        @content;
    }
}

$main-color: #D3FFEE;

$sub-color:#8DE4B7;

$accent-color:22978C;